element.style {
    margin: 0;
    padding: 0;
    font: inherit;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline-color: transparent!important;
    outline: 0;
}

